@{
    ViewData["Title"] = "Add A Movie To My Watchlist";
}
@model Mission06_owenk7.Models.FormModel

<h2>Send Us Movie For Us To Review: </h2>

<div>
    <form method="post">
        <input type="hidden" asp-for="Movieid" />
        <label>Movie Title: </label>
        <input type="text" asp-for="Title" />
        <br />
        <label>Year: </label>
        <input type="number" asp-for="Year" />
        <br />
        <label asp-for="CategoryId">Category: </label>
        <select asp-for="CategoryId">
            <option value="">Select A Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
        <br />
        <label>Director: </label>
        <input type="text" asp-for="Director" />
        <br />
        <label>Rating: </label>
        <select name="rating" asp-for="Rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
        <br />
        <label>Edited: Yes/No </label>
        <input type="checkbox" name="edited" asp-for="Edited" />
        <br />
        <label>Lent to: </label>
        <input type="text" asp-for="Lent" />
        <br />
        <label>Notes</label>
        <input type="text" asp-for="Notes" />
        <br />
        <button type="submit">Submit Movie</button>

        <div asp-validation-summary="All"></div>
    </form>
</div>
<script src="~/js/JavaScript.js"></script>